[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bigsolom
[access "refs/for/refs/*"]
	read = group user/bigsolom
	push = group user/bigsolom
	label-Code-Review = -2..+2 group user/bigsolom
	label-Verified = -1..+1 group user/bigsolom
	rebase = group user/bigsolom
	removeReviewer = group user/bigsolom
	submit = group user/bigsolom
[access "refs/heads/*"]
	read = group user/bigsolom
	create = group user/bigsolom
	push = +force group user/bigsolom
	pushMerge = group user/bigsolom
[access "refs/tags/*"]
	push = +force group user/bigsolom
	pushTag = group user/bigsolom
	pushSignedTag = group user/bigsolom
